/*  Tailwind v4 imports */
@import "tailwindcss";
/* Global CSS variables for light/dark mode */
:root {
  --bg: #f7f9fb;
  --text: #222;
  --primary: #4464ad;
  --accent: #a1c6ea; /* optional accent color */
  --card-bg: #f0f3f7;
  --card-text: #222222;

}

.dark {
  --bg: #1e1e2e;
  --text: #f1f1f1;
  --primary: #a1c6ea;
  --accent: #2e3a59;
  --card-bg: #26263a;
  --card-text: #f1f1f1;

}

/* Global reset & base styles */
*,
*::before,
*::after {
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: var(--bg);
  color: var(--text);
}

body {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}


/*Button styles*/
button{
  font-size: 18px;
  font-weight: 500;
  padding: 12px 24px;
  background-color: var(--accent);
  border-radius: 5px;
  border: var(--text) 2px solid ;
  box-shadow: 0px 3px 5px var(--text);
  cursor: pointer;

  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out;
}
button:hover{
  color: var(--bg);
  background-color: var(--primary);
}
/*REMOVE MODAL BUTTON STYLES*/
.modal-root button {
  all: unset;        /* removes global styles */
  cursor: pointer;
}
/*DEFAULT BUTTON STYLES CLASS*/
.default-btn{
  font-size: unset;
  font-weight: 500;
  padding: 12px;
  background-color: unset;
  border-radius: unset;
  border: unset ;
  box-shadow: unset;
  cursor: pointer;

  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out;
}


/* Dark mode support */
body.dark {
  background-color: var(--bg);
  color: var(--text);
}

/*TOGGLE BUTTON STYLE*/
#theme-toggle.active{
    background-color: #2e3a59;
    box-shadow: inset 0 0 5px white;
}
#toggle-circle.active{
    background-color: #a1c6ea;
    transform: translateX(95%);
    box-shadow: 0 0 3px black;
}

/* Smooth font rendering */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*SCROLL BAR STYLES*/

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--accent) var(--primary);
}
.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
  filter: brightness(1.2);
}

/*NAVBAR STYLES*/
.nav-item{
  color: var(--text);
  position: relative;
  transition: color 0.3s ease-in-out;
}

.nav-item:hover {
  color: var(--primary);
  filter: contrast(1.2);
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: var(--text);
  transition: all 0.3s ease-in-out;
  left: 50%;
  transform: translateX(-50%);
}

.nav-item:hover::after {
  width: 100%;
}

/*navbar active class style*/
.nav-item.active {
  color: var(--primary);
  filter: contrast(1.2);
}
.nav-item.active::after{
  width: 100%;
}
